apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namePrefix: dev-


#configMapGenerator:
#- behavior: replace
#  literals:
#  - LOG_LEVEL=debug
#  - DATABASE_URL=mysql://kubellm:password@dev-mysql:3306/kubellm_dev
#  name: kubellm-config

images:
- name: ghcr.io/bryaneanders/kubellm-api
  newTag: latest
- name: ghcr.io/bryaneanders/kubellm-webapp
  newTag: latest
- name: ghcr.io/bryaneanders/kubellm-cli
  newTag: latest

patches:
- path: mysql-configmap-patch.yaml
  target:
    kind: StatefulSet
    name: mysql
- path: replica-patch-api.yaml
  target:
    kind: Deployment
    name: kubellm-api
- path: replica-patch-webapp.yaml
  target:
    kind: Deployment
    name: kubellm-webapp
- path: resource-patch-api.yaml
  target:
    kind: Deployment
    name: kubellm-api
- path: resource-patch-webapp.yaml
  target:
    kind: Deployment
    name: kubellm-webapp
- path: secret-ref-patch-api.yaml
  target:
    kind: Deployment
    name: kubellm-api
- path: secret-ref-patch-webapp.yaml
  target:
    kind: Deployment
    name: kubellm-webapp
- path: configmap-patch.yaml
  target:
    kind: ConfigMap
    name: kubellm-config

